<section class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>
	Halo ini aplikasi Note app sederhana yang menggunakan MEHN (MONGO + Express + Handlebars + NodeJS) 
    </p>
  </div>
</section>
