<div class="jumbotron mt-4">
  <h1 class="display-4">Notes App Sederhana!!</h1>
  <p class="lead">Kamu hanya tinggal Register lalu login dan silahkan coret-coret notes kamu sepuasnya</p>
  <hr class="my-4">
  <p>Blog Utama bisa klik dimari
  </p>
  <a class="btn btn-primary btn-lg" href="http://ammarcicd.my.id" role="button">Ammarcicd.my.id</a>
</div>
